<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
 </div>   
  </aside>
 <div class="mailbox_table">
    <% if @user.prices.any? %>
      <h3>Mailbox Prices </h3>
	  <%= link_to "Add Price", add_price_path %>
      <table>                         
		<tr>                          
			<th colspan=2>Date</th>
			<th rowspan=2>Price($/cwt)</th>
		</tr>
		<tr>
			<th>Year</th>
			<th>Month</th>
		</tr>
		<% @user.prices.each do |price| %>       
			<tr>
				<td><%= price.date.strftime('%b') %></td>
                <td><%= price.date.year %></td>				
				<td><%= price.price %></td>  
			</tr>
		<% end %>                       
	  </table>                   

      <%= will_paginate @prices %>
    <% end %>
  </div>
