<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
 </div>   
  </aside>
 <div class="mailbox_table">
    <% if @user.prices.any? %>
      <h3>Mailbox Prices </h3>
	  <%= link_to "Add Price", add_price_path %>
	  |
	  <%= link_to "Edit Prices", edit_price_path(current_user) %>
      <table>
  <tr>
    <th>Month</th>
    <% (1..12).each do |m| -%>
    <th><%= Date::ABBR_MONTHNAMES[m] %></th>
    <% end -%>
  </tr>
<% @datagrid.keys.sort.each do |year| -%>
  <tr>
    <th><%= year %></th>
    <% (1..12).each do |month| -%>
      <% @price = @datagrid[year][month] -%>
      <td>
        <% if @price -%>
            <%= number_to_currency(@price.price) %>       
        <% end -%>
      </td>
    <% end -%>
  </tr>
<% end -%>
</table>
      <%= will_paginate @prices %>
	  <% else %>
	  <%= link_to "Add Price", add_price_path %>
    <% end %>
	
  </div>
