<%= form_for(@price) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date, discard_day:true %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price, step:"any" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>